html {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  margin: 0 auto;
  background-color: #161616;
}

/*-------------------------------Navigation styles-------------------------------*/

.nav {
  position: relative;
  color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  max-height: 100px;
  z-index: 1;
}

.nav a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  transition: color 300ms;
}

.nav .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
  z-index: 1;
}

.nav .nav-close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.nav-btn > i {
  color: #ffffff;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav li {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.nav li::after {
  content: "";
  width: 0;
  height: 2px;
  background: #fb346d;
  position: absolute;
  bottom: -4px;
  left: 5px;
  transition: width 0.3s ease-in-out;
}

.nav li.active,
.nav li:hover {
  color: #fb346d;
}

.nav li:hover::after,
.nav li.active::after {
  width: 50%;
}

.logo {
  height: 6em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
  z-index: 1;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

/*-------------------------------Hero styles-------------------------------*/

.hero-section {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 0 0 2.5rem;
  overflow: hidden;
}

.hero-text {
  margin-top: 5rem;
  padding: 0 2rem 5rem;
  border-left: 3px dotted #fff;
  z-index: 1;
}

.hero-text h1 {
  white-space: nowrap;
  font-size: 3.5rem;
  line-height: 1.2;
}

.hero-text h2 {
  background-color: #1f51ff;
  width: fit-content;
  padding: 0.5rem 1rem;
}

.hero-text h1,
.hero-text h2 {
  margin-bottom: 1rem;
}

.hero-text p {
  font-family: "Aldrich", sans-serif;
}

.hero-text span {
  color: #fb346d;
}

.hero-img {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.hero-img img {
  position: absolute;
  top: 0;
  right: 0;
  width: 62%;
  height: 100vh;
  object-fit: cover;
}

/*----------Latest News-------------*/

.latest-news {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  position: relative;
  margin-bottom: 4rem;
}

.latest-news::before,
.latest-news::after {
  content: "";
  position: absolute;
  width: 45%;
  height: 20px;
  background-color: #ffffff;
}

.latest-news::after {
  bottom: 0;
}

.latest-news::before {
  top: 0;
}

.latest-news .hero-text {
  width: 50%;
}

.news-section {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.read-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #fb346d;
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.read-more:hover {
  background-color: #fb346d;
}

.image-container {
  width: 50%;
}

.image-container img {
  width: 100%;
  height: auto;
}

/*-------------------------------Streams styles-------------------------------*/

.live-streams-section {
  padding: 0 4rem;
}

.live-streams-section .streams h2 {
  background-color: #1f51ff;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.live-streams-section .streams h2::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #fb346d;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.live-streams-section .streams p {
  font-family: "Aldrich", sans-serif;
  margin-bottom: 1rem;
}

.live-streams-section .stream-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.stream-cards h3 {
  font-size: 15px;
  padding: 0.5rem;
  border: 2px solid #ffffff;
}

/*-------------------------------Team styles-------------------------------*/

.team-section {
  text-align: center;
  margin: 4rem 0 2rem;
  padding: 0 1rem;
}

.team-section h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.team-section span {
  color: #fb346d;
}

.team-cards {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.team-cards .player-card {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: start;
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 2rem;
}

.player-description {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: space-between;
}

.player-description .games,
.player-description .social-links {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 1rem;
}

.player-description .desc {
  font-family: "Aldrich", sans-serif;
  margin: 1.5rem 0;
}

.player-description .social-links a {
  will-change: filter;
  transition: filter 0.2s;
}

.player-description .social-links a:hover {
  filter: drop-shadow(0 0 0.6rem #646cffaa);
}

/*-------------------------------Connect styles-------------------------------*/

.connect-section {
  position: relative;
  padding: 5rem 0 3rem;
}

.connect-info {
  padding: 0 2.5rem;
}

.connect {
  padding: 0 2rem 0;
  border-left: 3px dotted #fff;
}

.connect h2 {
  background-color: #1f51ff;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.connect h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.connect span {
  color: #fb346d;
}

.connect p {
  font-family: "Aldrich", sans-serif;
  max-width: 50%;
  margin-bottom: 2rem;
}

.connect h4 {
  margin-bottom: 1rem;
}

.connect-info .newsletter-form {
  padding: 0 2rem 0;
  margin-bottom: 2rem;
}

.connect-info .newsletter-form input {
  padding: 10px 20px;
  background: #fff;
  color: #000000;
  margin-right: 2rem;
  font-family: "Aldrich", sans-serif;
}

.connect-info .newsletter-form button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #fb346d;
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-weight: bold;
  outline: none;
  transition: background-color 0.3s ease;
}

.connect-info .newsletter-form button:hover {
  background-color: #fb346d;
}

.connect-info .social-links {
  padding: 0 2rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.connect-info .social-links a {
  will-change: filter;
  transition: filter 0.2s;
}

.connect-info .social-links a:hover {
  filter: drop-shadow(0 0 1rem #fb346d);
}

.connect-section::before,
.connect-section::after {
  content: "";
  position: absolute;
  left: 2.5rem;
  width: 2%;
  height: 20px;
  background-color: #ffffff;
}

.connect-section::after {
  bottom: 0;
}

.connect-section::before {
  top: 0;
}

/*-------------------------------Footer styles-------------------------------*/

.footer-img {
  width: 100%;
  max-height: auto;
  padding: 20px 0 0;
  text-align: center;
  font-family: "Aldrich", sans-serif;
}

.footer-img img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.footer-img p {
  font-size: 14px;
  color: #161616;
  background: #fb346d;
  padding: 10px;
}

/*-------------------------------Contact styles-------------------------------*/

.contact-section {
  margin-top: 5rem;
}

.form-details {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 4rem;
}

.contact-section .connect-info {
  margin-bottom: 5rem;
}

.form-details .form1 {
  flex: 2;
}

.form1 form {
  background-color: #161616;
  border-radius: 10px;
  width: 100%;
  /* max-width: 600px; */
}

.form1 form div {
  margin-bottom: 0.5rem;
}

.form1 form label {
  display: block;
  font-size: 1rem;
  color: #fff;
  font-family: "Aldrich", sans-serif;
}

.form1 form input,
.form1 form textarea {
  width: 100%;
  padding: 10px;
  border: solid 1px #ddd;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  outline: none;
  transition: border-color 0.3s ease;
  font-family: "Aldrich", sans-serif;
}

.form1 form input:focus,
.form1 form textarea:focus {
  border-color: #fb346d;
}

.form1 form input::placeholder,
.form1 form textarea::placeholder {
  color: #888;
  font-family: "Aldrich", sans-serif;
}

.form1 form textarea {
  resize: vertical;
}

.form1 form .read-more {
  margin-bottom: 0;
}

.form-details .form2 {
  flex: 1.5;
  border: #fb346d solid 4px;
  border-radius: 20px;
  padding: 4rem;
  background-color: #212121;
  box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.1);
}

.form-details .form2 h4 {
  font-size: 25px;
  position: relative;
  display: inline-block;
}

.form-details .form2 h4::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #1f51ff;
}

.form-details .form2 i {
  font-size: 20px;
  margin-bottom: 1.5em;
}

.form-details .form2 p {
  display: inline;
}

.connect-info .contact-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.connect-info .contact-links img {
  height: 28px;
  width: auto;
}

.connect-info .contact-links a {
  will-change: filter;
  transition: filter 0.2s;
}

.connect-info .contact-links a:hover {
  filter: drop-shadow(0 0 1rem #fb346d);
}

.image-banner {
  width: 60%;
  margin: 0 auto 5rem;
  background-image: url(./assets/img/contact-banner1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  padding: 7rem 0 5rem;
  text-align: center;
}

.image-banner h3 {
  font-size: 50px;
  position: relative;
}

.image-banner h3::before,
.image-banner h3::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: -2rem;
  background-color: #ffffff;
}

.image-banner h3::before {
  left: 0;
}

.image-banner h3::after {
  right: 0;
}

.image-banner p {
  font-family: "Aldrich", sans-serif;
  margin-bottom: 1.5rem;
}

.image-banner .newsletter-form {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-banner .newsletter-form input {
  width: 60%;
  padding: 10px 20px;
  background: #fff;
  color: #000000;
  margin-right: 2rem;
  border: none;
  font-family: "Aldrich", sans-serif;
}

.image-banner .newsletter-form button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #fb346d;
  color: #ffffff;
  /* margin-bottom: 1.5rem; */
  font-weight: bold;
  outline: none;
  transition: background-color 0.3s ease;
}

.image-banner .newsletter-form button:hover {
  background-color: #fb346d;
}

/*-----Vertical Text---------*/

.vertical-text-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  background-color: #fb346d;
  z-index: 2;
}

.vertical-text {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(360deg);
  white-space: nowrap;
  padding: 10px 0;
  font-size: 15px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

/*-------------------------------Scroll to top styles-------------------------------*/

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  transition: opacity 0.3s;
  opacity: 0.8;
}

.scroll-to-top.hide {
  opacity: 0;
  pointer-events: none;
}

.scroll-to-top button {
  background-color: #fb346d;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  text-align: center;
}

/*-------------------------------Jumbotron styles-------------------------------*/

.jumbotron {
  width: 100%;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 2rem;
  position: relative;
}

.scrolling-content {
  display: flex;
  animation: scroll 15s linear infinite;
}

.jumbotron-item {
  flex: 0 0 auto;
  margin-right: 10px;
  font-size: 2.5rem;
}

.jumbotron-item::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fb346d;
  border-radius: 50%;
  margin-right: 0.5rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 1024px) {
  .nav {
    background: #161616;
    z-index: 2;
    height: 80px;
  }

  .nav {
    justify-content: space-between;
  }
  .nav .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .nav ul {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: #161616;
    transition: 1s;
    transform: translateY(-100vh);
    z-index: 3;
  }

  .nav .responsive-nav {
    transform: none;
  }

  .hero-section .hero-text {
    position: relative;
    z-index: 1;
    padding-bottom: 0;
  }

  .hero-section .hero-text::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: #161616;
    opacity: 0.8;
    z-index: -1;
    pointer-events: none;
  }

  .hero-img img {
    width: 70%;
  }

  .latest-news .hero-text {
    border: none;
    padding: 0;
    width: 100%;
  }

  .image-container {
    width: 100%;
  }

  .team-cards .player-card {
    width: 100%;
    max-width: 500px;
    flex-direction: column;
    margin: 0 auto;
  }

  .footer-img img {
    height: 100px;
  }
}

@media only screen and (max-width: 770px) {
  .logo {
    height: 5em;
  }

  .hero-img img {
    width: auto;
  }

  .hero-section .hero-text {
    position: relative;
    padding: 0 2em;
    width: 100%;
  }

  .hero-section .hero-text::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: #161616;
    opacity: 0.8;
    z-index: -1;
    pointer-events: none;
  }

  .hero-text h1 {
    white-space: nowrap;
  }

  .latest-news::after,
  .latest-news::before {
    display: none;
  }

  .live-streams-section {
    padding: 0 2.5rem;
  }

  .live-streams-section .stream-cards {
    justify-content: space-around;
  }

  .stream-cards .stream-desc {
    margin-bottom: 1rem;
  }

  .team-cards .player-card {
    max-width: 300px;
  }

  .player-card .image-box {
    width: 300px;
  }

  .player-card .image-box img {
    width: 100%;
    height: auto;
  }

  .player-card .games,
  .player-card .social-links {
    justify-content: space-around;
  }

  .vertical-text-container {
    display: none;
  }

  .connect {
    border: none;
    padding: 0;
  }

  .connect p {
    max-width: 100%;
  }

  .connect-info .newsletter-form,
  .connect-info .social-links {
    padding: 0;
  }

  .connect-info .newsletter-form input {
    margin-right: 1rem;
  }

  .form1 form .read-more {
    width: 100%;
  }

  .image-banner {
    width: 70%;
  }

  .image-banner h3 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 430px) {
  .hero-section .hero-text {
    margin: 8em 0;
  }

  .hero-text h1,
  .team-section h1 {
    white-space: nowrap;
    font-size: 2rem;
  }

  .connect h1 {
    font-size: 2rem;
  }

  .hero-text h2,
  .streams h2,
  .connect h2 {
    font-size: 16px;
  }

  .hero-text p {
    font-size: 14px;
  }

  .team-cards .player-card {
    max-width: 300px;
    padding: 1rem 0;
  }

  .player-card .image-box {
    width: 300px;
  }

  .player-card .image-box img {
    width: 100%;
    height: auto;
  }

  .player-card .games,
  .player-card .social-links {
    justify-content: space-around;
  }

  .player-card .desc {
    font-size: 14px;
  }

  .connect-info .social-links {
    justify-content: space-between;
    gap: 0;
  }

  .form-details .form2 {
    padding: 1.5rem;
  }

  .form-details .form2 h4 {
    font-size: 18px;
  }

  .form-details .form2 p {
    font-size: 14px;
  }

  .connect-info .contact-links {
    gap: 0.8rem;
  }

  .image-banner {
    text-align: center;
    width: 90%;
    background-image: url(./assets/img/contact-banner2.png);
  }

  .image-banner h3 {
    font-size: 35px;
    position: relative;
    margin-bottom: 1em;
  }

  .image-banner p {
    font-size: 14px;
  }

  .image-banner .newsletter-form {
    width: 90%;
    flex-direction: column;
  }

  .image-banner .newsletter-form input {
    width: 100%;
    margin: 0 0 10px;
  }

  .image-banner .newsletter-form button {
    width: 60%;
  }
}
